@model List<Heslo>

@{
    ViewData["Title"] = "Moje hesla";
}

<article>
    <h2>Moje hesla</h2>
    <p class="center"><a class="icon-plus" href="/Hesla/Pridat">Přidat heslo</a></p>
    @{
        foreach (Heslo heslo in Model)
        {
            <div class="heslo_div">
                <div class="sluzba"><a title="Zobrazit heslo" href="JavaScript:zobrazitHeslo(@heslo.ID)">@heslo.Sluzba</a><span><a class="icon-edit" title="Upravit heslo" asp-action="Upravit" asp-route-id="@heslo.ID"></a><a class="icon-bin" title="Odstranit heslo" asp-action="Odstranit" asp-route-id="@heslo.ID"></a></span></div>
                <div class="jmeno">@heslo.Jmeno</div>
            </div>
        }
        if (Model.Count == 0)
        {
            <p>Zatím nemáte přidané žádné heslo</p>
        }
        else
        {
            <partial name="_DetailHesla" />
        }
    }
</article>